.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron
renv/library/
renv/staging/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
results/runs/
results/main/
app/rsconnect/
app_cache/
*.html
Rplots.pdf
.Rcheck/
.tmp/

